body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:
        url(https://sourdoreille.net/blindtest/img/noise.png), radial-gradient(ellipse at center, #e3cce4 0, #f01919be 10%, #d91394ce 100%);
}

:root {
    --bs-primary-rgb: 35, 84, 161;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-gray-100: rgb(248, 249, 250);
    --bs-gray-100-opacity: rgb(248, 249, 250, 0.7);

}

.btn {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

iframe {
    width: 100%;
}

.card-text {
    height: 100px;
}

.card-body {
    max-height: 200px;
}

section {

    height: 350px;
    background-color: var(--bs-gray-100-opacity);

}

@media screen and (min-width:800px) {
    section {
        clip-path: polygon(25% 0%, 100% 23%, 75% 90%, 0% 75%);

    }
}


footer {
    background-color: rgb(var(--bs-primary-rgb));
    height: 50px;
    color: var(--bs-gray-100);
    width: 100%;
    text-align: center;
}

footer,
a {
    color: var(--bs-gray-100);

}

iframe {
    justify-content: center;
}